create App:npx nuxi@latest init (Project-Name)
npm i typescript --save-dev
saas:npm install sass
tailwindcss:npm install --save-dev @nuxtjs/tailwindcss
same:npm install -D tailwindcss@3
config file add:npx tailwindcss init
autoprefixer:npm install -D tailwindcss@3 postcss autoprefixer
VueUse:npx nuxi@latest module add vueuse
motion:npm install @vueuse/motion
image:npx nuxi@latest module add image
gsap:npm install gsap
swiper:npx nuxi@latest module add swiper
npm install swiper
git branch -M main  
git remote add origin https://github.com/Abdulwahab0070/Portfolio-Website.git 
git remote set-url origin https://github.com/Abdulwahab0070/Portfolio-Website.git 
git commit -m "first commit to alchemative profile"       
 git add .   
 git push origin master  